.main{
    background-color:rgba(223, 221, 221, 0.322);
   
}
.card {
  background: #383737c5;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 0.3s ease;
  border: 1px solid #e5e5e5;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.minimalBtn {
  margin-top: 10px;
  background: transparent;
  padding: 8px 25px;
  border-radius: 20px;
  border: 2px solid #a0a0a0;
  color: #000;
  font-weight: bold;

  transition: 0.3s ease;
}

.minimalBtn:hover {
  background: #e8e8e8;
  transform: translateY(-3px);
}



.img_fluid {
  height: 200px;    
  width: 100%;
  object-fit: cover;  
  border-radius: 8px; 
  margin-bottom: 30px;
}
.cardimg{
   width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}